  {% assign muguides = "/guides/mu/" %}
  <header>
    <div class="icon-group">
      <a href="/" class="icon"><i class="fas fa-house"></i></a>
      <a href="/blog" class="icon"><i class="fa-solid fa-list-ul"></i></a>
      <a href="#" class="icon"><i class="fa-solid fa-music"></i></a>
      <a href="#" class="icon"><i class="fa-solid fa-tags"></i></a>
      <a href="#" class="icon"><i class="fa-solid fa-rss"></i></a>
      <a href="/guides/mu/unscramble" class="icon"><i class="fa-solid fa-search"></i></a>
    </div>
  </header>